<div class="hero">
    <div class="logo"><img src="/img/vimeo-logo.png" /></div>
    <div class="parent-container">
        <div class="child-container">
            <div id="overlay">
                <h6 id="new_cue"></h6>
            </div>
            <iframe src={{video}} width="1000" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen allow="autoplay; encrypted-media" class="videoframe"></iframe>
            <div class="cue-function-container">
                <textarea id="input-cue" class="input-cue" type="text" name="cue" placeholder="Add a cue.."></textarea>
                <div class="button-container"><button class="button-cue-submit" onclick="submitCue()">Add Cue</button></div>

                <textarea type="text" id="video-changer" class="video-changer" placeholder="Change the video.."></textarea>
                <div class="button-container"><button class="button-cue-submit" onclick="videoChanger()">Change Video</button></div>
            </div>
            <div class="cue-container">
                <div id="submitted-cues">
                    <table id="cueTable" class='list'>
                        <thead>
                            <tr>
                                <th>Cue (click any to delete!)</th>
                                <th>Time (click any to delete!)</th>
                                <th>Cue ID (click any to delete!)</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each cues}}
                            <tr id={{this.cueId}}>
                                <td class="cue">{{this.cue}}</td>
                                <td class="time">{{this.time}} </td>
                                <td class="cueId">{{this.cueId}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/js/vimeoPlayer.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>